@keyframes rainbowAnimation {
  0% {
    background: rgb(231, 178, 78);
  }
  100% {
    background: rgb(255, 177, 125);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(./assets/images/background.png);
  background-size: auto;
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  padding-bottom: 100px;
}

#flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  margin: auto;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100% - 30px);
  max-width: 1280px;
  border-radius: 25px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
}

h2 {
  color: white;
}

#video_display {
  background: black;
  width: 100%;
}

.div_botoes {
  background: rgb(78, 78, 78);
  padding: 15px;
  border-radius: 15px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 600px;
}

.botao {
  margin: auto;
  margin-top: 20px;
  height: 50px;
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  transition: 0.2s;
  box-shadow: 1px 1px 5px;
  background: rgb(255, 255, 255);
  color: black;
}

.botao:hover {
  width: 400px;
  padding-left: 100px;
  background: rgb(231, 178, 78);
  transition: 1s;
  animation: rainbowAnimation 2s ease-in-out 2s infinite alternate;
}
.botao_pequeno {
  font-size: 15px;
  width: 130px;
  height: 50px;
  margin: auto;
}

.botao_pequeno:hover {
  width: 150px;
  padding-left: 10px;
}

.mediaIcon {
  height: 100%;
}
.mediaIcon:hover {
  padding-left: 0px;
}
#video_display {
  margin: auto;
  margin-top: 20px;
  border-radius: 15px;
  display: inline-block;
  height: 720px;
  width: 1280px;
}

li {
  padding: 8px;
  list-style: none;
  text-align: justify;
  margin: auto;
  margin-top: 10px;
  background-color: bisque;
  color: black;
  width: calc(50% - 100px);
  min-width: 200px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
}

li:hover{
  transition: 0.1s;
  padding: 10px;
}



#playlist_div {
  display: sticky;
  width: 100%;
  bottom: 0;
}
